<div class="pages-banner1 d-flex justify-content-center" >
  <div class="pages-banner-content">
    <div class="pages-white-box">
    </div>
  </div>
</div>

<div class="container mt-3">
<br>
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex px-0">
      <div class="card card-body">
        <div class="card-text">
          <%= cl_image_tag @booking.duck.photo.key, height: 300, width: 400, crop: :fill %>
          <h2><strong><%= @booking.duck.name %></strong></h2>
          <p><%= @booking.duck.description %></p>
          <p><strong>Price: </strong> <%= @booking.duck.price %>€</p>
        </div>
      </div>
    </div>
  </div>
</div>
