<div class="pages-banner d-flex justify-content-center" style="height: 400px;">
  <div class="pages-banner-content">
    <div class="pages-white-box">
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="d-flex justify-content-center">
    <div class="profile"></div>
  </div>
  <div>
    <h4>User Info</h4>
    <p>Add password change and other gubbins</p>
  </div>
  <div>
    <h4><%= link_to "My Bookings", bookings_path %></h4>
    <p>Either this remains a link or we display list of bookings here</p>
  </div>
</div>

