
<div class="banner d-flex justify-content-center" >
  <div class="banner-content">
    <h1 style="font-size: 32px; color:white;" class="circle">Airducks</h1>
  </div>
</div>


  <div class="container container-value">
    <div class="title-value">
      <div class="col-xs-12">
        <h2 class="p-banner" style="padding-top: 20px;">Can I be Your Rubber Duck?</h2>
        <h4> Debugging Code With a Friend</h4>
      </div>
    </div>

  <div class="row row-value">
    <div class="col-xs-12 col-md-6">
      <div class="value">
        <h4 class="color-orange">How does it work?</h4>
        <p>Our ducks force you to look at the problem from different perspectives and will provide you with a deeper understanding for your code.</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="value">
          <h4 class="color-orange">You're convinced?</h4>
            <p>Perfect! Than rent one of our affordable ducks that have graduated with a technical degree from some of the world's leading universities.</p>
      </div>
    </div>
  </div>

  <div class="untertitel-value">
    <div class="col-xs-12">
      <h4><%= link_to "Let's start, find a duck!", ducks_path %></h4>
    </div>
  </div>
  </div>
</div>


