
<div class="banner">
  <div class="banner-content">
  </div>
</div>

<div class="container mt-3">
  <div class="title-value mt-0">
    <div class="col-xs-12 no-padding-left">
      <div id="typed-strings">
        <h4 class="typed mb-0"></h4>
      </div>
       <h2 class="p-banner pt-3">Can I be Your Rubber Duck?</h2>
    </div>
  </div>
  <div class="row row-value justify-content-around no-padding-left">
    <div class="col-xs-12 col-md-5 text-box">
      <h4 class="color-orange">How does it work?</h4>
      <p>Our ducks force you to look at the problem from different perspectives and will provide you with a deeper understanding for your code.</p>
    </div>
    <div class="col-xs-12 col-md-5 text-box">
      <h4 class="color-orange">You're convinced?</h4>
      <p>Perfect! Than rent one of our affordable ducks that have graduated with a technical degree from some of the world's leading universities.</p>
    </div>
  </div>
  <div class="no-padding-left">
    <div class="col-xs-12 no-padding-left">
      <h4 class="p-banner text-center mt-4"><%= link_to "Let's start, find a duck!", ducks_path %></h4>
    </div>
  </div>
</div>
