.banner {
  background-size: cover;
  background-image: image-url('home-banner.jpeg');
  background-color: rgba(50, 50, 50, 1);
  background-position: center;
  padding: 80px 0;
  height: 500px;
  border-top-color: white;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-content {
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content-center: center;
}
