.card-product {
  overflow: hidden;
  height: auto;
  background: $light-gray;
  display: flex;
  align-items: center;
  padding: 50px 0px;

  flex: auto;
  border-radius: 7px;
  justify-content: space-between;
}

.card-product img {
  height: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 7px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: rgba(250, 250,250, 0.1);
  border-radius: 7px;
  border-style: solid;
  border-width: 0px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.card::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  box-shadow: 0 0 20px 2px rgb(130, 146, 182);
  opacity: 0;
  transition: opacity 1.7s;
}

.card:hover {
  transform: scale(1, 1);
}

.card:hover::after {
  opacity: 1;
}

.btn {
  z-index: 1;
  border-color: rgb(254, 127, 45);
  background-color: rgb(254, 127, 45);
  color: white;
  border-width: 2px;
  border-radius: 25px;
}

.btn:hover {
  background-color: white;
  color: #506D4E;
  border-color: #506D4E;
}

.btn btn-primary {
  color: white;
}
