
.body {
  font-size: 14px;
  line-height: 1.42857143;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 30px auto;
    padding: 30px;
      position: relative;
  top: -40px;
  right: 0;
  left: 0px;
}

.value {
  border-radius: 3px;
  border: 1px solid rgba(200,200,200, 0.2);
  background-color: rgba(200,200,200, 0.2);
  margin: 30px;
  padding: 30px;
}

.title-value {
  text-align: center;
  margin: 15px 10px;
}

.untertitel-value h4 {
  text-align: center;
  margin: 15px 10px;
  color: gb(240,240,240);
  text-decoration: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

h1{
  position: relative;
  top:-60px;
  left: 170px;
  color: rgba(250, 250, 250, 1);
}

.circle {
  padding-top: 60px;
  padding-left: 12px;
  height: 200px;
  width: 200px;
  background-color: rgba(255,218,69, 1);
  border-style: solid;
  border-color: white;
  border-width: 23px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: -20px;

}

.white-box {
  height: 200px;
  width: 200px;
  background-color: rgba(255,255,255,1 );
  border-style: solid;
  border-color: white;
  border-width: 20px;
  border-radius: 15px;
position: relative;
 top: -170px;
  left: 210px;

}





@keyframes bounce {
  from{ transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 260px, 0); }
}

h4 {
  font-family: 'Krona One', sans-serif;
  text-align: center;
}

a {
  color: black;
  text-align: center;
}

a:hover{
    color: rgba(50, 50, 50, 0.7);
   text-decoration: none;
}

.color-orange {
   color: rgb(254, 127, 45);
}
