
.body {
  font-size: 14px;
  line-height: 1.42857143;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 30px auto;
    padding: 30px;
      position: relative;
  top: -40px;
  right: 0;
  left: 0px;
}

.value {
  border-radius: 3px;
  border: 1px solid rgba(200,200,200, 0.2);
  background-color: rgba(200,200,200, 0.2);
  margin: 30px;
  padding: 30px;
}

.title-value {
  text-align: center;
  margin: 15px 10px;
}

.untertitel-value h4 {
  text-align: center;
  margin: 15px 10px;
  color: gb(240,240,240);
  text-decoration: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

h1{
  position: relative;
  top:-60px;
  left: 170px;
}

.circle {
  padding-top: 60px;
  padding-left: 10px;
  height: 170px;
  width: 170px;
  background-color: #FFDA45;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  top: -220px;
  left: 210px;


}


h4 {
  font-family: 'Krona One', sans-serif;
  text-align: center;
}

a {
  color: black;
  text-align: center;
}

a:hover{
    color: rgba(50, 50, 50, 0.7);
   text-decoration: none;
}

.color-orange {
   color: rgb(254, 127, 45);
}
