
.body {
  font-size: 14px;
  line-height: 1.42857143;

}



.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 30px;
}

.value{
  border: 1px solid black;
  border-radius: 4px;
  margin: 30px
}

.title-value {
  text-align: center;
  margin: 15px 10px;
}

.untertitel-value {
  text-align: center;
  margin: 15px 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}







